:root {
    --white-color: #ffffff;
    --primary-color: #7cb8eb;
    --secondary-color: #4f83d1;
    --section-bg-color: #f0f8ff;
    --custom-btn-bg-color: #4f83d1;
    --custom-btn-bg-hover-color: #7cb8eb;
    --dark-color: #000000;
    --p-color: #717275;
    --border-color: #e9eaeb;
    --link-hover-color: #4f83d1;

    --body-font-family: 'Poppins', sans-serif;

    --h1-font-size: 52px;
    --h2-font-size: 46px;
    --h3-font-size: 32px;
    --h4-font-size: 28px;
    --h5-font-size: 24px;
    --h6-font-size: 22px;
    --p-font-size: 16px;
    --btn-font-size: 18px;
    --copyright-font-size: 14px;

    --border-radius-large: 100px;
    --border-radius-medium: 20px;
    --border-radius-small: 10px;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

.subitem {
    margin-top: auto;
    margin-bottom: auto;
}

.subitem-dropdown {
    margin-top: auto;
    margin-left: 0;
    margin-bottom: auto;
}

.subfooter-item {
    margin-bottom: 0;
}

.logo-image {
    height: 5em;
    margin-right: 10px;
    margin-bottom: 10px;
}


.custom-btn-font {
    padding: 10px 15px;
}